In [8]:
import pandas as pd

omni = pd.read_excel('/Users/zoakes/Quant/Py_Review/Omni/Omni_Paper-2.xlsx')
omni

,Unnamed: 0,Omni Performance by Instrument,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,**Added 2 days in,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,DATE,ADBE-ROKU 8.20,APC-AMD 8.8+,CMG-BYND,COST,GOOGL,GS,KMI-CSCO,NFLX,PYPL,...,TSLA,NaN,TOTAL,Equity,NaN,Pos Size,Max DD + Error,Simult Pos,Capital Req,W/ 4x Margin
1,8.1.19,-526.47,94.01,277.5,645.58,1890.86,123.12,820.83,1809.7,619.53,...,4173.16,NaN,9477.35,9477.35,NaN,100000,5000,1,105000,26250
2,8.2.19,172.2,0,-731.01,0,1126.31,0,0,978.8,1274.99,...,1635.38,NaN,3542.67,13020,NaN,100000,5000,1,105000,26250
3,8.5.19,-505.44,-272.4,-503.04,525.29,-1.74,0,0,-220.32,1109.34,...,3142.8,NaN,136.35,13156.4,NaN,100000,5000,1,105000,26250
4,8.6.19,-350.49,13.78,-1109.4,1678.54,-537.2,-1031.67,452.15,717.5,0,...,467.78,NaN,3211.01,16367.4,NaN,100000,5000,2,210000,52500
5,8.7.19,-1077.65,0,0,1277.5,100.3,1036.94,151.8,2255.5,798.02,...,176.16,NaN,4427.52,20794.9,NaN,100000,5000,1,105000,26250
6,8.8.19,0,179.8,62.22,948.33,430.46,0,79.35,128.8,149.38,...,443.53,NaN,3440.91,24235.8,NaN,100000,5000,1,105000,26250
7,8.9.19,903.78,1528.23,151.28,500.5,-499.4,419.53,362.4,362.4,208.34,...,-325.66,NaN,4469.3,28705.1,NaN,100000,5000,2,210000,52500
8,8.12.19,0,116.76,548.37,501.16,-404.88,527.7,0,-170.66,966.71,...,426.55,NaN,2934.73,31639.8,NaN,100000,5000,3,315000,78750
9,8.13.19,-505.11,0,906.46,-117.65,2601.52,-261.94,0,502.22,257.83,...,2709.27,NaN,5311.57,36951.4,NaN,100000,5000,2,210000,52500
10,8.14.19,404.81,5880.19,0,-508,2333.36,-5.11,297.2,0,581.22,...,808.3,NaN,10434.1,47385.6,NaN,100000,5000,1,105000,26250
11,8.15.19,361.52,268.28,0,1725.93,964.74,0,-505.26,-783.07,-878.18,...,741.27,NaN,2195.02,49580.6,NaN,100000,5000,2,210000,52500
12,8.16.19,661.4,1349.59,0,540.2,154.56,667.34,401.7,257.89,362.79,...,2327.18,NaN,7765.95,57346.5,NaN,100000,5000,2,210000,52500
13,8.19.19,0,1599.33,0,677.04,202.52,433.32,0,-690.49,522.26,...,812.93,NaN,3890.33,61236.8,NaN,100000,5000,1,105000,26250
14,8.20.19,816.99,1616.32,183.92,221.43,-821.03,109.34,-591.12,163.17,1175.61,...,-536.85,NaN,1089.14,62326,NaN,100000,5000,1,105000,26250
15,8.21.19,593.64,606.57,114.95,633.36,180.11,392.28,391.72,-44.06,350.76,...,51.31,NaN,3058.61,65384.6,NaN,100000,5000,2,210000,52500
16,8.22.19,356.45,-505.18,5449.18,-233.3,653.13,157.76,-589.11,379.18,187.45,...,985.69,NaN,7396.86,72781.5,NaN,100000,5000,3,315000,78750
17,8.23.19,972.68,0,368.64,94.38,1433.13,134.46,0,503.25,949.63,...,1946.72,NaN,6903.63,79685.1,NaN,100000,5000,2,210000,52500
18,8.26.19,3053.47,229.89,437.58,-363.2,1336.2,356.56,0,430.67,-93.93,...,2005.35,NaN,7553.64,87238.7,NaN,100000,5000,4,420000,105000
19,8.27.19,1597.86,699.73,50.47,1940.99,149.17,-28.24,100.14,848.31,176.98,...,967.71,NaN,12344.7,99583.5,NaN,100000,5000,4,420000,105000
20,8.28.19*1PM,101.13,775.2,32.57,533.99,204.26,219.29,249,639.19,-247.37,...,513.72,NaN,5356.83,104940,NaN,100000,5000,1,105000,26250
21,8.29.19,1116.87,411.18,1103.08,1038.14,399.49,0,49.21,90.18,794.41,...,1226.28,NaN,5968.12,110908,NaN,100000,5000,2,210000,52500
22,8.30.19,-388.11,287.17,375.79,835.95,694.25,220.05,-74.28,340.76,-33.7,...,-15.47,NaN,4364.23,115273,NaN,100000,5000,1,105000,26250
23,9.3.19,547.54,902.72,687,352.02,634.2,-5.03,0,61.27,-315.18,...,-581.47,NaN,4517.08,119790,NaN,100000,5000,2,210000,52500
24,9.4.19,5192.44,732.46,242.4,733.59,706.44,675.61,0,1329.13,1361.92,...,1020.77,NaN,12919.5,132709,NaN,100000,5000,3,315000,78750
25,9.5.19,1943.86,1043.13,3587.05,194.3,828.99,541.92,-630.84,514.06,-135.63,...,1002.11,NaN,9922.82,142632,NaN,100000,5000,3,315000,78750
26,9.6.19,-507.4,875.39,412.89,110.55,-226.32,-76.52,945.7,198.34,1008,...,620.76,NaN,4440.96,147073,NaN,100000,5000,2,210000,52500
27,9.9.19,1652.21,1099.56,409.44,1234.24,-475.42,-510.84,778.76,750.76,284.64,...,69.12,NaN,7259.16,154332,NaN,100000,5000,3,315000,78750
28,9.10.19,3738.36,-363.08,27.32,1267.72,297.61,326.2,1770.34,2939.46,-270.79,...,680.71,NaN,11921.7,166254,NaN,100000,5000,3,315000,78750
29,9.11.19,-103.08,504.14,1846.6,253.85,101.99,0,-299.06,2978.54,950.5,...,0,NaN,9353.01,175607,NaN,100000,5000,3,315000,78750
30,9.12.19,2374.42,1194.68,307.04,264.11,192.98,0,140.68,1311.92,353.74,...,5.31,NaN,6832.85,182440,NaN,100000,5000,3,315000,78750
31,9.13.19,948.06,342.42,1335.34,208.45,389.25,0,119.88,162.72,827.06,...,186.76,NaN,5235.23,187675,NaN,100000,5000,3,315000,78750

In [9]:
#Slice Relevant Rows + Columns
o = omni.iloc[1:23,0:16]

#Name the columns from spreadsheet
o.columns = ['date','roku','amd','bynd','cost','googl','gs','kmi','nflx','pypl','slb','teva','ual','lulu','intc','tsla']

'''
CAN ALSO DO---
pd.read_excel('path',skiprows=[0],usecols=[list_of_cols])
#Or
exclude_cols = ['tsla','apc','pypl']
pd.read_excel('path',usecols = lambda col: col not in exclude_cols)
'''

"\nCAN ALSO DO---\npd.read_excel('path',skiprows=[0],usecols=[list_of_cols])\n#Or\nexclude_cols = ['tsla','apc','pypl']\npd.read_excel('path',usecols = lambda col: col not in exclude_cols)\n"

In [21]:
o
o['date'].iloc[19] = '8.28.19' #Fix the asterisk

df = o
df.head()
df.dtypes

date     object
roku     object
amd      object
bynd     object
cost     object
googl    object
gs       object
kmi      object
nflx     object
pypl     object
slb      object
teva     object
ual      object
lulu     object
intc     object
tsla     object
dtype: object

In [42]:
'''Convert Types -- first datetime'''
df['date']= pd.to_datetime(df['date'])
#datetime_index = o.set
df.dtypes

date     datetime64[ns]
roku             object
amd              object
bynd             object
cost             object
googl            object
gs               object
kmi              object
nflx             object
pypl             object
slb              object
teva             object
ual              object
lulu             object
intc             object
tsla             object
dtype: object

In [46]:
df.set_index('date',inplace=True)

#Alternate method -- 
#for col in df.columns:
#    s = df.col
#    df.col = pd.to_numeric(s, errors='ignore') #Can FORCE here
  
#My prefered method -- cannot have datetime in col, set to index
df = df.astype(float)

In [47]:
df.dtypes

roku     float64
amd      float64
bynd     float64
cost     float64
googl    float64
gs       float64
kmi      float64
nflx     float64
pypl     float64
slb      float64
teva     float64
ual      float64
lulu     float64
intc     float64
tsla     float64
dtype: object

In [49]:
df.head()

,roku,amd,bynd,cost,googl,gs,kmi,nflx,pypl,slb,teva,ual,lulu,intc,tsla
date,,,,,,,,,,,,,,,
2019-08-01,-526.47,94.01,277.50,645.58,1890.86,123.12,820.83,1809.70,619.53,1245.89,-743.46,1693.72,176.66,1349.88,4173.16
2019-08-02,172.20,0.00,-731.01,0.00,1126.31,0.00,0.00,978.80,1274.99,263.20,-767.22,0.00,730.84,494.56,1635.38
2019-08-05,-505.44,-272.40,-503.04,525.29,-1.74,0.00,0.00,-220.32,1109.34,488.24,-130.37,0.00,-353.21,0.00,3142.80
2019-08-06,-350.49,13.78,-1109.40,1678.54,-537.20,-1031.67,452.15,717.50,0.00,170.16,1405.60,841.56,1049.10,-88.62,467.78
2019-08-07,-1077.65,0.00,0.00,1277.50,100.30,1036.94,151.80,2255.50,798.02,0.00,867.00,26.66,-1249.42,64.71,176.16

In [52]:
'''Transform into RETURNS df'''
rets = df.pct_change() #-- NOPE!
rets.head()

,roku,amd,bynd,cost,googl,gs,kmi,nflx,pypl,slb,teva,ual,lulu,intc,tsla
date,,,,,,,,,,,,,,,
2019-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-08-02,-1.327084,-1.000000,-3.634270,-1.000000,-0.404340,-1.000000,-1.000000,-0.459137,1.057996,-0.788745,0.031959,-1.000000,3.136986,-0.633627,-0.608120
2019-08-05,-3.935192,-inf,-0.311856,inf,-1.001545,NaN,NaN,-1.225092,-0.129923,0.855015,-0.830075,NaN,-1.483293,-1.000000,0.921755
2019-08-06,-0.306565,-1.050587,1.205391,2.195454,307.735632,-inf,inf,-4.256627,-1.000000,-0.651483,-11.781622,inf,-3.970188,-inf,-0.851158
2019-08-07,2.074695,-1.000000,-1.000000,-0.238922,-1.186709,-2.005108,-0.664271,2.143554,inf,-1.000000,-0.383182,-0.968321,-2.190945,-1.730196,-0.623413

In [54]:
returns = df.cumsum(axis=0).pct_change().fillna(0)
returns

,roku,amd,bynd,cost,googl,gs,kmi,nflx,pypl,slb,teva,ual,lulu,intc,tsla
date,,,,,,,,,,,,,,,
2019-08-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2019-08-02,-0.327084,0.000000,-2.634270,0.000000,0.595660,0.000000,0.000000,0.540863,2.057996,0.211255,1.031959,0.000000,4.136986,0.366373,0.391880
2019-08-05,1.426708,-2.897564,1.109215,0.813671,-0.000577,0.000000,0.000000,-0.079010,0.585552,0.323533,0.086299,0.000000,-0.389212,0.000000,0.541065
2019-08-06,0.407684,-0.077246,1.159793,1.433584,-0.178150,-8.379386,0.550845,0.279381,0.000000,0.085194,-0.856525,0.496871,1.892692,-0.048047,0.052258
2019-08-07,0.890473,0.000000,0.000000,0.448338,0.040472,-1.141313,0.119248,0.686464,0.265665,0.000000,-3.682310,0.010516,-0.779236,0.036855,0.018702
2019-08-08,0.000000,-1.092279,-0.030117,0.229792,0.166940,0.000000,0.055693,0.023244,0.039291,0.013693,0.415882,0.031203,0.980676,0.164589,0.046224
2019-08-09,-0.395035,100.607637,-0.075499,0.098616,-0.165969,3.267622,0.240937,0.063916,0.052727,-0.097098,-0.157280,0.000000,0.678191,0.347331,-0.032440
2019-08-12,0.000000,0.075650,-0.296024,0.089882,-0.161333,0.963097,0.000000,-0.028291,0.232405,0.221012,-0.943787,-0.006700,0.606393,0.000000,0.043915
2019-08-13,0.364945,0.000000,-0.695095,-0.019360,1.236047,-0.243525,0.000000,0.085678,0.050295,0.106441,9.817753,-0.172747,-0.665644,0.089856,0.267194
2019-08-14,-0.214278,3.541899,0.000000,-0.085246,0.495802,-0.006280,0.159226,0.000000,0.107950,0.000000,0.000000,0.163511,0.104597,0.071022,0.062908
2019-08-15,-0.243551,0.035579,0.000000,0.316612,0.137045,0.000000,-0.233513,-0.123048,-0.147213,0.000000,-1.747098,0.397107,-0.235284,0.078456,0.054277
2019-08-16,-0.589037,0.172833,0.000000,0.075266,0.019310,0.825334,0.242211,0.046210,0.071315,0.022962,-3.720870,-0.023866,-0.954272,0.083855,0.161626
2019-08-19,0.000000,0.174633,0.000000,0.087729,0.024822,0.293595,0.000000,-0.118260,0.095828,0.000000,0.000000,0.055037,-1.909054,0.048862,0.048604
2019-08-20,-1.770484,0.150250,-0.462552,0.026378,-0.098193,0.057269,-0.286928,0.031694,0.196846,-0.085299,-1.037961,0.047218,8.273997,-0.008789,-0.030610
2019-08-21,1.669686,0.049020,-0.537904,0.073511,0.023886,0.194336,0.266649,-0.008295,0.049072,-0.035501,0.000000,-0.175669,-2.856699,-0.010444,0.003018
2019-08-22,0.375535,-0.038918,-55.181570,-0.025224,0.084597,0.065438,-0.316595,0.071986,0.024998,0.000000,14.284785,0.356259,1.074040,-0.116550,0.057801
2019-08-23,0.744989,0.000000,0.068899,0.010468,0.171148,0.052347,0.000000,0.089125,0.123552,0.000000,0.000000,0.113955,0.020026,0.000000,0.107918
2019-08-26,1.340235,0.018428,0.076512,-0.039867,0.136253,0.131909,0.000000,0.070030,-0.010877,-0.012845,-0.773549,-0.060488,-0.006767,0.018691,0.100340
2019-08-27,0.299686,0.055074,0.008198,0.221901,0.013387,-0.009230,0.078747,0.128913,0.020719,0.000000,-32.711905,0.104896,1.326965,0.084665,0.044005
2019-08-28,0.014594,0.057830,0.005247,0.049961,0.018089,0.072340,0.181513,0.086042,-0.028372,0.701716,0.092278,0.149145,-0.202104,-0.013801,0.022376
2019-08-29,0.158855,0.028997,0.176784,0.092509,0.034749,0.000000,0.030362,0.011178,0.093776,-0.047409,-0.033793,0.000000,0.050427,0.000000,0.052244
2019-08-30,-0.047635,0.019681,0.051178,0.068184,0.058361,0.067694,-0.044479,0.041769,-0.003637,-0.058271,0.034875,0.060336,1.075589,0.046416,-0.000626

In [75]:
import numpy as np
cum_sum = df.cumsum(axis=0)
cum_sum.head()
#log_sum = np.log(cum_sum)
#log_ret = np.log(log_sum.pct_change())
#log_ret.head()

,roku,amd,bynd,cost,googl,gs,kmi,nflx,pypl,slb,teva,ual,lulu,intc,tsla
date,,,,,,,,,,,,,,,
2019-08-01,-526.47,94.01,277.50,645.58,1890.86,123.12,820.83,1809.70,619.53,1245.89,-743.46,1693.72,176.66,1349.88,4173.16
2019-08-02,-354.27,94.01,-453.51,645.58,3017.17,123.12,820.83,2788.50,1894.52,1509.09,-1510.68,1693.72,907.50,1844.44,5808.54
2019-08-05,-859.71,-178.39,-956.55,1170.87,3015.43,123.12,820.83,2568.18,3003.86,1997.33,-1641.05,1693.72,554.29,1844.44,8951.34
2019-08-06,-1210.20,-164.61,-2065.95,2849.41,2478.23,-908.55,1272.98,3285.68,3003.86,2167.49,-235.45,2535.28,1603.39,1755.82,9419.12
2019-08-07,-2287.85,-164.61,-2065.95,4126.91,2578.53,128.39,1424.78,5541.18,3801.88,2167.49,631.55,2561.94,353.97,1820.53,9595.28

In [79]:
'''Log Returns -- I dont really use, just makes a mess with dfs like this'''
cs = cum_sum + 10000 #(Add an initial value -- makes these PRICES or EQUITY )
print(cs)
for col in cs.columns:
    cs[col] = (np.log(cs[col]) - np.log(cs[col].shift(1))).fillna(0)

log_rets = cs
log_rets.head()

                roku       amd      bynd      cost     googl        gs  \
date
2019-08-01   9473.53  10094.01  10277.50  10645.58  11890.86  10123.12
2019-08-02   9645.73  10094.01   9546.49  10645.58  13017.17  10123.12
2019-08-05   9140.29   9821.61   9043.45  11170.87  13015.43  10123.12
2019-08-06   8789.80   9835.39   7934.05  12849.41  12478.23   9091.45
2019-08-07   7712.15   9835.39   7934.05  14126.91  12578.53  10128.39
2019-08-08   7712.15  10015.19   7996.27  15075.24  13008.99  10128.39
2019-08-09   8615.93  11543.42   8147.55  15575.74  12509.59  10547.92
2019-08-12   8615.93  11660.18   8695.92  16076.90  12104.71  11075.62
2019-08-13   8110.82  11660.18   9602.38  15959.25  14706.23  10813.68
2019-08-14   8515.63  17540.37   9602.38  15451.25  17039.59  10808.57
2019-08-15   8877.15  17808.65   9602.38  17177.18  18004.33  10808.57
2019-08-16   9538.55  19158.24   9602.38  17717.38  18158.89  11475.91
2019-08-19   9538.55  20757.57   9602.38  18394.42  18361.41  11909.23
2019-08-20  10355.54  22373.89   9786.30  18615.85  17540.38  12018.57
2019-08-21  10949.18  22980.46   9901.25  19249.21  17720.49  12410.85
2019-08-22  11305.63  22475.28  15350.43  19015.91  18373.62  12568.61
2019-08-23  12278.31  22475.28  15719.07  19110.29  19806.75  12703.07
2019-08-26  15331.78  22705.17  16156.65  18747.09  21142.95  13059.63
2019-08-27  16929.64  23404.90  16207.12  20688.08  21292.12  13031.39
2019-08-28  17030.77  24180.10  16239.69  21222.07  21496.38  13250.68
2019-08-29  18147.64  24591.28  17342.77  22260.21  21895.87  13250.68
2019-08-30  17759.53  24878.45  17718.56  23096.16  22590.12  13470.73

                 kmi      nflx      pypl       slb      teva       ual  \
date
2019-08-01  10820.83  11809.70  10619.53  11245.89   9256.54  11693.72
2019-08-02  10820.83  12788.50  11894.52  11509.09   8489.32  11693.72
2019-08-05  10820.83  12568.18  13003.86  11997.33   8358.95  11693.72
2019-08-06  11272.98  13285.68  13003.86  12167.49   9764.55  12535.28
2019-08-07  11424.78  15541.18  13801.88  12167.49  10631.55  12561.94
2019-08-08  11504.13  15669.98  13951.26  12197.17  10894.20  12641.88
2019-08-09  11866.53  16032.38  14159.60  11983.83  10753.56  12641.88
2019-08-12  11866.53  15861.72  15126.31  12422.28  10042.36  12624.18
2019-08-13  11866.53  16363.94  15384.14  12680.11  10458.24  12170.86
2019-08-14  12163.73  16363.94  15965.36  12680.11  10458.24  12525.82
2019-08-15  11658.47  15580.87  15087.18  12680.11   9657.65  13528.84
2019-08-16  12060.17  15838.76  15449.97  12741.65  10931.49  13444.62
2019-08-19  12060.17  15148.27  15972.23  12741.65  10931.49  13634.20
2019-08-20  11469.05  15311.44  17147.84  12507.79   9964.64  13805.80
2019-08-21  11860.77  15267.38  17498.60  12418.76   9964.64  13137.24
2019-08-22  11271.66  15646.56  17686.05  12418.76   9459.53  14254.91
2019-08-23  11271.66  16149.81  18635.68  12418.76   9459.53  14739.78
2019-08-26  11271.66  16580.48  18541.75  12387.69   9877.61  14453.08
2019-08-27  11371.80  17428.79  18718.73  12387.69  13881.22  14920.19
2019-08-28  11620.80  18067.98  18471.36  14063.17  14239.37  15654.01
2019-08-29  11670.01  18158.16  19265.77  13870.54  14096.11  15654.01
2019-08-30  11595.73  18498.92  19232.07  13645.00  14238.96  15995.15

                lulu      intc      tsla
date
2019-08-01  10176.66  11349.88  14173.16
2019-08-02  10907.50  11844.44  15808.54
2019-08-05  10554.29  11844.44  18951.34
2019-08-06  11603.39  11755.82  19419.12
2019-08-07  10353.97  11820.53  19595.28
2019-08-08  10701.10  12120.17  20038.81
2019-08-09  11176.58  12856.57  19713.15
2019-08-12  11890.05  12856.57  20139.70
2019-08-13  10631.95  13113.25  22848.97
2019-08-14  10698.05  13334.36  23657.27
2019-08-15  10533.81  13595.96  24398.54
2019-08-16  10024.41  13897.50  26725.72
2019-08-19   9977.81  14087.94  27538.65
2019-08-20   9794.21  14052.01  27001.80
2019-08-21  10382.09  14009.69  27053.11
2019-08-22  10792.47  13542.36  28038.80
2019-08-23  10808.34  13542.36  29985.52
2019-08-26  10802.87  13608.57  31990.87
2019-08-27  11868.25  13914.09  32958.58
2019-08-28  11490.67  13860.07  33472.30
2019-08-29  11565.84  13860.07  34698.58
2019-08-30  13250.04  14039.24  34683.11

,roku,amd,bynd,cost,googl,gs,kmi,nflx,pypl,slb,teva,ual,lulu,intc,tsla
date,,,,,,,,,,,,,,,
2019-08-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2019-08-02,0.018014,0.000000,-0.073783,0.000000,0.090499,0.000000,0.000000,0.079625,0.113383,0.023134,-0.086521,0.000000,0.069354,0.042651,0.109200
2019-08-05,-0.053823,-0.027357,-0.054133,0.048165,-0.000134,0.000000,0.000000,-0.017378,0.089168,0.041547,-0.015476,0.000000,-0.032918,0.000000,0.181324
2019-08-06,-0.039100,0.001402,-0.130877,0.139988,-0.042150,-0.107488,0.040936,0.055519,0.000000,0.014084,0.155426,0.069495,0.094765,-0.007510,0.024384
2019-08-07,-0.130795,0.000000,0.000000,0.094784,0.008006,0.108008,0.013376,0.156807,0.059559,0.000000,0.085068,0.002125,-0.113927,0.005489,0.009031

In [83]:
'''Aggregate Datatype measures'''
log_rets.describe()
log_rets.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 22 entries, 2019-08-01 to 2019-08-30
Data columns (total 15 columns):
roku     22 non-null float64
amd      22 non-null float64
bynd     22 non-null float64
cost     22 non-null float64
googl    22 non-null float64
gs       22 non-null float64
kmi      22 non-null float64
nflx     22 non-null float64
pypl     22 non-null float64
slb      22 non-null float64
teva     22 non-null float64
ual      22 non-null float64
lulu     22 non-null float64
intc     22 non-null float64
tsla     22 non-null float64
dtypes: float64(15)
memory usage: 2.8 KB

In [120]:
'''CHECK FOR NA VALUES -- Already fillna()'''
log_rets.isna().sum()

roku     0
amd      0
bynd     0
cost     0
googl    0
gs       0
kmi      0
nflx     0
pypl     0
slb      0
teva     0
ual      0
lulu     0
intc     0
tsla     0
dtype: int64

In [118]:
'''More complex operations -- '''

#To manipulate values in loop --
for i in df.itertuples():
    #print(i)
    print(i.nflx)
    

#Manipulating by loc

oct_1 = df.loc['2019-08-01'] #Oct 1st row
print('October 1\n',oct_1)

roku_wins = df.loc[df['roku'] > 0.0]  #All positive Roku days
print('DF when Roku wins \n',roku_wins)


#Can combine these
tsla_roku_roku_wins = df.loc[df['roku'] > 0, ['tsla','roku']]
print('Tesla and Roku on Roku winning days\n',tsla_roku_roku_wins)


filter_col = [col for col in df if col.startswith('r')]
oct5_10_r_stocks = df.loc['2019-08-05' : '2019-08-10',filter_col]

1809.7
978.8
-220.32
717.5
2255.5
128.8
362.4
-170.66
502.22
0.0
-783.07
257.89
-690.49
163.17
-44.06
379.18
503.25
430.67
848.31
639.19
90.18
340.76
October 1
 roku         -526.47
amd            94.01
bynd           277.5
cost          645.58
googl        1890.86
gs            123.12
kmi           820.83
nflx          1809.7
pypl          619.53
slb          1245.89
teva         -743.46
ual          1693.72
lulu          176.66
intc         1349.88
tsla         4173.16
tsla_roku          0
Name: 2019-08-01 00:00:00, dtype: object
DF when Roku wins
                roku      amd     bynd     cost    googl      gs     kmi  \
date
2019-08-02   172.20     0.00  -731.01     0.00  1126.31    0.00    0.00
2019-08-09   903.78  1528.23   151.28   500.50  -499.40  419.53  362.40
2019-08-14   404.81  5880.19     0.00  -508.00  2333.36   -5.11  297.20
2019-08-15   361.52   268.28     0.00  1725.93   964.74    0.00 -505.26
2019-08-16   661.40  1349.59     0.00   540.20   154.56  667.34  401.70
2019-08-20   816.99  1616.32   183.92   221.43  -821.03  109.34 -591.12
2019-08-21   593.64   606.57   114.95   633.36   180.11  392.28  391.72
2019-08-22   356.45  -505.18  5449.18  -233.30   653.13  157.76 -589.11
2019-08-23   972.68     0.00   368.64    94.38  1433.13  134.46    0.00
2019-08-26  3053.47   229.89   437.58  -363.20  1336.20  356.56    0.00
2019-08-27  1597.86   699.73    50.47  1940.99   149.17  -28.24  100.14
2019-08-28   101.13   775.20    32.57   533.99   204.26  219.29  249.00
2019-08-29  1116.87   411.18  1103.08  1038.14   399.49    0.00   49.21

              nflx     pypl      slb     teva      ual     lulu    intc  \
date
2019-08-02  978.80  1274.99   263.20  -767.22     0.00   730.84  494.56
2019-08-09  362.40   208.34  -213.34  -140.64     0.00   475.48  736.40
2019-08-14    0.00   581.22     0.00     0.00   354.96    66.10  221.11
2019-08-15 -783.07  -878.18     0.00  -800.59  1003.02  -164.24  261.60
2019-08-16  257.89   362.79    61.54  1273.84   -84.22  -509.40  301.54
2019-08-20  163.17  1175.61  -233.86  -966.85   171.60  -183.60  -35.93
2019-08-21  -44.06   350.76   -89.03     0.00  -668.56   587.88  -42.32
2019-08-22  379.18   187.45     0.00  -505.11  1117.67   410.38 -467.33
2019-08-23  503.25   949.63     0.00     0.00   484.87    15.87    0.00
2019-08-26  430.67   -93.93   -31.07   418.08  -286.70    -5.47   66.21
2019-08-27  848.31   176.98     0.00  4003.61   467.11  1065.38  305.52
2019-08-28  639.19  -247.37  1675.48   358.15   733.82  -377.58  -54.02
2019-08-29   90.18   794.41  -192.63  -143.26     0.00    75.17    0.00

               tsla  tsla_roku
date
2019-08-02  1635.38  Both WIN!
2019-08-09  -325.66          0
2019-08-14   808.30  Both WIN!
2019-08-15   741.27  Both WIN!
2019-08-16  2327.18  Both WIN!
2019-08-20  -536.85          0
2019-08-21    51.31  Both WIN!
2019-08-22   985.69  Both WIN!
2019-08-23  1946.72  Both WIN!
2019-08-26  2005.35  Both WIN!
2019-08-27   967.71  Both WIN!
2019-08-28   513.72  Both WIN!
2019-08-29  1226.28  Both WIN!
Tesla and Roku on Roku winning days
                tsla     roku
date
2019-08-02  1635.38   172.20
2019-08-09  -325.66   903.78
2019-08-14   808.30   404.81
2019-08-15   741.27   361.52
2019-08-16  2327.18   661.40
2019-08-20  -536.85   816.99
2019-08-21    51.31   593.64
2019-08-22   985.69   356.45
2019-08-23  1946.72   972.68
2019-08-26  2005.35  3053.47
2019-08-27   967.71  1597.86
2019-08-28   513.72   101.13
2019-08-29  1226.28  1116.87

In [119]:
'''Can also be used for assignment ---'''
df2 = df
df2['tsla_roku'] = 0
df2.loc[(df2['roku'] > 0) & (df2['tsla'] > 0), ['tsla_roku']] = 'Both WIN!'
df2

df2.loc[df2['tsla_roku'] != 0]

,roku,amd,bynd,cost,googl,gs,kmi,nflx,pypl,slb,teva,ual,lulu,intc,tsla,tsla_roku
date,,,,,,,,,,,,,,,,
2019-08-02,172.20,0.00,-731.01,0.00,1126.31,0.00,0.00,978.80,1274.99,263.20,-767.22,0.00,730.84,494.56,1635.38,Both WIN!
2019-08-14,404.81,5880.19,0.00,-508.00,2333.36,-5.11,297.20,0.00,581.22,0.00,0.00,354.96,66.10,221.11,808.30,Both WIN!
2019-08-15,361.52,268.28,0.00,1725.93,964.74,0.00,-505.26,-783.07,-878.18,0.00,-800.59,1003.02,-164.24,261.60,741.27,Both WIN!
2019-08-16,661.40,1349.59,0.00,540.20,154.56,667.34,401.70,257.89,362.79,61.54,1273.84,-84.22,-509.40,301.54,2327.18,Both WIN!
2019-08-21,593.64,606.57,114.95,633.36,180.11,392.28,391.72,-44.06,350.76,-89.03,0.00,-668.56,587.88,-42.32,51.31,Both WIN!
2019-08-22,356.45,-505.18,5449.18,-233.30,653.13,157.76,-589.11,379.18,187.45,0.00,-505.11,1117.67,410.38,-467.33,985.69,Both WIN!
2019-08-23,972.68,0.00,368.64,94.38,1433.13,134.46,0.00,503.25,949.63,0.00,0.00,484.87,15.87,0.00,1946.72,Both WIN!
2019-08-26,3053.47,229.89,437.58,-363.20,1336.20,356.56,0.00,430.67,-93.93,-31.07,418.08,-286.70,-5.47,66.21,2005.35,Both WIN!
2019-08-27,1597.86,699.73,50.47,1940.99,149.17,-28.24,100.14,848.31,176.98,0.00,4003.61,467.11,1065.38,305.52,967.71,Both WIN!
2019-08-28,101.13,775.20,32.57,533.99,204.26,219.29,249.00,639.19,-247.37,1675.48,358.15,733.82,-377.58,-54.02,513.72,Both WIN!
2019-08-29,1116.87,411.18,1103.08,1038.14,399.49,0.00,49.21,90.18,794.41,-192.63,-143.26,0.00,75.17,0.00,1226.28,Both WIN!